---
import Item from '../components/Item.astro';
import List from '../components/List.jsx';

import {data} from '../../public/scripts/Data.js'
---
<div id="item-list">
    <List data={data} client:only="react" />
</div>